# Build Directories
build/

# CMake Files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Executables
snake
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Static / Dynamic Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Debug symbols
*.pdb

# Linux
*~

# Vim Swap Files
*.swp
*.swo
